#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.li-pag{
  border: 1px solid white;
  width: 20px;
}
.li-pag:hover{
  background-color: white;
  color:black;
  
}
.li-pag a {
  width: 100%;
  height: 100%;
  display: block;
}
.active-a {
  background-color: white;
  color:black;
}


